# Get these from your Humand admin
HUMAND_CLIENT_ID=your-client-id
HUMAND_CLIENT_SECRET=your-client-secret
HUMAND_API_URL=https://api-prod.humand.co
GITHUB_TOKEN=github-token

VITE_JANUS_URL=https://api-prod.humand.co/api/v1/janus
VITE_CLIENT_ID=your-janus-client-id
